.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

.new-note-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 30px;
}

.note-input {
  border: 1px solid black;
  border-radius: 5px;
  cursor:text;
}
.note-input:focus{
 border: 2px solid rgb(78, 78, 225);
  border-radius: 5px;

}

.add-btn {
  background-color: rgb(78, 78, 225);
  color: white;
  border-radius: 5px;
  width: 50px;
  cursor: pointer;
}
.add-btn:hover {
  background-color: rgb(53, 53, 137);
}