.home-page {
  display: grid;
  place-items: center;
  gap: 24px;
  height: 100vh;
  & > div:first-child {
    border: 1px solid;
    border-radius: 5px;
    padding: 5%;
    width: 50%;
  }
}

.footer {
  display: flex;
  gap:24px;
}
