.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:whitesmoke;
    height:100vh;
    font-family: sans-serif;
    gap: 10px;
    padding: 10px;
}

.btn{
    background-color: rgb(2, 86, 255);
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight:500;
}

.btn:hover{
     background-color:blue
}